$trasitionDuration: 1s;

.account-menu--opened {
    width: 200px;
    height: fit-content;
    background-color: #ffffff;
    border-bottom: 1px #808080 solid;
    border-left: 1px #808080 solid;
    visibility: visible;
    transition-duration: $trasitionDuration;
    transition-property: width, visibility;
}

.account-menu--closed {
    width: 0;
    visibility: hidden;
    transition-duration: $trasitionDuration;
    transition-property: width, visibility;

    .account-menu__links {
        padding-left: 0;
    }
}

.account-menu {
    position: absolute;
    top: 48px;
    right: 0;
}

.account-menu__links {
    padding-left: 10px;
    transition-duration: $trasitionDuration;
    transition-property: padding;
}
