.search-title-box {
    display: flex;
    width: 70%;
    margin: 10px auto;
}

.search-title-box__field {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
}

.search-title-box__button {
    background-color: transparent;
    border: none;
}

.search-title-box__icon {
    width: 20px;
    height: 20px;
}
