.user-orders-section__title {
    padding: 10px 0;
    font-size: 30px;
    font-family: "Lucida Sans", sans-serif;
    text-align: center;
}

.user-orders-section__preloader-icon {
    width: 100%;
    height: 100%;
}

.user-orders-section__preloader {
    height: 50px;
}

.user-orders-section__orders-table {
    width: 100%;
    font-family: "Lucida Sans", sans-serif;
    text-align: center;
    border: 1px;
    border-color: #106cc8;
}

.user-orders-section__orders-header {
    background-color: mistyrose;
}

.user-orders-section__header-td {
    padding: 10px 0;
    font-size: 25px;
}

.user-orders-section__line-td {
    padding: 5px 0;
    font-size: 20px;
    white-space: pre-line;
}
