.add-genre-block {
    width: 45%;
}

.add-genre-block__header {
    padding: 10px 0;
    font-size: 25px;
    font-family: "Lucida Sans", sans-serif;
    text-align: center;
}

.add-genre-block__field {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.add-genre-block__field-title {
    padding: 0 5px;
    font-family: "Lucida Sans", sans-serif;
}

.add-genre-block__field-input {
    padding: 5px;
    border: 1px #106cc8 solid;
    border-radius: 5px;
}

.add-genre-block__add-button {
    width: 7%;
    background-color: transparent;
    border: none;
}

.add-genre-block__add-button-icon {
    width: 15px;
    height: 15px;
}
