.search-filter-range {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-filter-range__slider {
    width: 40%;
}

.search-filter-range__title {
    width: 50%;
    font-size: 16px;
    font-family: 'Lucida Sans';
}

.search-filter-range__value {
    font-size: 16px;
    font-family: 'Lucida Sans';
}
