.sorting-option-radio {
    display: flex;
    justify-content: center;
    width: 30%;
}

.sorting-option-radio__title {
    padding-right: 3px;
    font-size: 16px;
    font-family: 'Lucida Sans';
}
